
.dropbtn {
    background-color: #fff;
    opacity: 100%;
    display:grid;
    width: 130px;
    height: 35px;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 15px;
    color: black;
    box-shadow: 3px 3px 4px #00000034;
    right: 0px;
    position: absolute;

}

.signout {
    color: #E35205;
    
}