.color1 {
    background-color: darkorange;
    height: 20px;
    width: 4px;
}

.color2 {
    background-color: lightblue;
    height: 20px;
    width: 4px;
}

.color3 {
    background-color: crimson;
    height: 20px;
    width: 4px;
}

.color4 {
    background-color: lightpink;
    height: 20px;
    width: 4px;
}

.color5 {
    background-color: skyblue;
    height: 20px;
    width: 4px;
}